.app {
    display: grid;
    place-items: center;
    width: 100vw;
    background-color: #dadbd3;
}

.app__body {
    width: 90vw;
    height: 90vh;
    border: black 1px solid;
    display: flex;
    margin: 3 0 0 0;
    /* justify-content: center; */
    background-color: #ededed;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}